<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MicroBlog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>microblog.create_tables.createTables</listener-class>
  </listener>
      <servlet>
    <description></description>
    <display-name>GetMostPopularTopics</display-name>
    <servlet-name>GetMostPopularTopics</servlet-name>
    <servlet-class>microblog.servlets.GetMostPopularTopics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMostPopularTopics</servlet-name>
    <url-pattern>/topic/GetMostPopularTopics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTop10MessagesOfUserFollowing</display-name>
    <servlet-name>GetTop10MessagesOfUserFollowing</servlet-name>
    <servlet-class>microblog.servlets.GetTop10MessagesOfUserFollowing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTop10MessagesOfUserFollowing</servlet-name>
    <url-pattern>/message/GetTop10MessagesOfUserFollowing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTop10PopularMessages</display-name>
    <servlet-name>GetTop10PopularMessages</servlet-name>
    <servlet-class>microblog.servlets.GetTop10PopularMessages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTop10PopularMessages</servlet-name>
    <url-pattern>/message/GetTop10PopularMessages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMessagesByTopic</display-name>
    <servlet-name>GetMessagesByTopic</servlet-name>
    <servlet-class>microblog.servlets.GetMessagesByTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMessagesByTopic</servlet-name>
    <url-pattern>/message/GetMessagesByTopic/topic/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowUser</display-name>
    <servlet-name>FollowUser</servlet-name>
    <servlet-class>microblog.servlets.FollowUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowUser</servlet-name>
    <url-pattern>/FollowUser/id/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostMessage</display-name>
    <servlet-name>PostMessage</servlet-name>
    <servlet-class>microblog.servlets.PostMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostMessage</servlet-name>
    <url-pattern>/message/PostMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllUsers</display-name>
    <servlet-name>GetAllUsers</servlet-name>
    <servlet-class>microblog.servlets.GetAllUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUsers</servlet-name>
    <url-pattern>/user/GetAllUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RepublishMsg</display-name>
    <servlet-name>RepublishMsg</servlet-name>
    <servlet-class>microblog.servlets.RepublishMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepublishMsg</servlet-name>
    <url-pattern>/message/RepublishMsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserMessages</display-name>
    <servlet-name>GetUserMessages</servlet-name>
    <servlet-class>microblog.servlets.GetUserMessages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserMessages</servlet-name>
    <url-pattern>/user/GetUserMessages</url-pattern>
    <url-pattern>/user/GetUserMessages/name/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserFollowingOrFollower</display-name>
    <servlet-name>GetUserFollowingOrFollower</servlet-name>
    <servlet-class>microblog.servlets.GetUserFollowingOrFollower</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserFollowingOrFollower</servlet-name>
    <url-pattern>/user/GetUserFollowingOrFollower</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserInfo</display-name>
    <servlet-name>GetUserInfo</servlet-name>
    <servlet-class>microblog.servlets.GetUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfo</servlet-name>
    <url-pattern>/user/GetUserInfo/name/*</url-pattern>
    <url-pattern>/user/GetUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>microblog.servlets.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/user/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>microblog.servlets.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/user/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutUser</display-name>
    <servlet-name>LogoutUser</servlet-name>
    <servlet-class>microblog.servlets.LogoutUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUser</servlet-name>
    <url-pattern>/user/LogoutUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionAuth</display-name>
    <servlet-name>SessionAuth</servlet-name>
    <servlet-class>microblog.servlets.SessionAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionAuth</servlet-name>
    <url-pattern>/user/SessionAuth</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>MicroBlog Connection</description>
    <res-ref-name>jdbc/MicroBlogDatasource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>